<div class="text-center">
  <h1>Aniversarios mês </h1>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>Email</th>                       
      </tr>
    </thead>  
  
    <tbody>    
       <% ids = params.permit!.to_hash["format"].split("/") %>
      <% ids.each do |id| %>
      
      
      <% niver = Niver.find(id) %>
        <tr>
            <td><%=niver.nome%></td>
            <td><%=niver.data_de_nascimento.strftime("%d/%m/%Y")%></td>
            <td><%=niver.email%></td>
        </tr>        
      <% end %>
      <br>
      <br>
    </tbody>
  </table>
</div>

<button type="button floatLeft" class="btn btn-dark" style=" float: rigth; margin-left: 5px">
    <%= link_to "Voltar para Pacientes", mes_index_path %> 
  </button>