<div id="<%= dom_id niver %>">
  <p>
    <strong>Nome:</strong>
    <%= niver.nome %>    
  </p>
  <p>
  <strong>Email:</strong>
    <%= niver.email %>
    </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= niver.data_de_nascimento.strftime("%d/%m/%Y") %>
  </p>

</div>
